[2021-03-02 13:52] pganguli opened #1 "Cleanup README.md"
In its current state, the README.md contains multiple typos and grammar errors.
It is proposed that these errors be fixed, so that the visibility of this repo increases.

[2021-03-02 13:53] pganguli commented on #1
@vaibhavarora102 Can this issue kindly be assigned to me for GSSOC'21 ?

[2021-03-03 18:06] ghackg11 opened #3 "Updating the UI"
As you have already seen, we have made a pretty basic UI, which can be updated with some effort. Design inspirations are given in this link below, you can take help from this, or you can boggle your mind to think of innovative changes and implement them.

https://whimsical.com/foresttreetagger-QhpS4e7HyEaYXtQ23rP8AE

[2021-03-04 03:52] Samdid commented on #3
@ghackg11 I would like to work on this

[2021-03-04 07:05] ghackg11 commented on #1
The contribution phase has not been started yet. It's from the 8th of March, you can contribute only after that.  Moreover, you can add some interesting stuff to the readme (which must be relevant too).

[2021-03-04 07:26] pganguli commented on #1
Thanks for the heads up; I was not aware of the updated schedule. I'm closing my current PR to work on it a bit more, so that I can submit another PR after the 8th of March.

[2021-03-04 16:50] Manzee1609 commented on #3
I would like to work on this! :)

[2021-03-08 07:01] Samdid commented on #3
@ghackg11 Can I start working on this issue?

[2021-03-08 07:09] ghackg11 commented on #3
yes, you all can start working

[2021-03-08 07:14] ghackg11 opened #4 "Taking location of tree from map"
As you have seen, we are taking location input using a form field, instead, we can use a map to take the location(Latitude, Longitude) of the tree. This will improve the overall UI and UX.

[2021-03-08 17:38] ThatOneTallKid commented on #1
Can this issue be assigned to me ?

[2021-03-08 17:40] ThatOneTallKid commented on #4
can i work on this issue ???

[2021-03-08 17:44] ThatOneTallKid commented on #4
please get this issue a tag

[2021-03-08 17:50] ghackg11 commented on #1
There is no such thing as issue assigning. The candidates who give PR first resolving an already made issue, or make a new issue and solve it will be considered. All this is based on a first come first serve basis. @ThatOneTallKid

[2021-03-08 17:59] ghackg11 commented on #1
I am not assigning this to anyone. Any candidate who gives PR first and does relevant editing and additions will have his or her PR accepted. You can just assign any issue to yourself.

[2021-03-08 18:04] ghackg11 opened #5 "Save QR code button not working"
The save QR code button on this screen (In the link below) is not working. Some code is written but is buggy, so u need to fix it such that the QR code gets saved in PDF format in the local storage of the device.

![image](https://user-images.githubusercontent.com/56071613/110361916-a51b9580-8066-11eb-92dd-bce6000800ef.png)

[2021-03-09 04:56] Trisanu-007 commented on #5
Hi ! Can I try out this issue?

[2021-03-09 05:17] ghackg11 commented on #5
Yeah sure, it is open to everyone

[2021-03-09 18:06] #1 closed

[2021-03-10 04:46] vaibhavarora102 opened #7 "Readme update"
Add the steps to setup the project to local PC

[2021-03-10 04:50] #7 closed

[2021-03-10 06:19] Manzee1609 commented on #4
I am experienced in flutter but not tried out using maps in my flutter app but I would like to give it a shot. If possible pls assign this issue to me. I am a gssoc'21 participant.

[2021-03-10 08:10] ghackg11 commented on #4
okay @Manzee1609, it's good to see that you want to learn new things. This is what we want, learn and grow together. I am assigning this issue to you, you have a maximum of 5 days for solving it. Good luck

[2021-03-10 08:13] ghackg11 commented on #3
I am assigning this issue to you, you have a max of 5 days to work on it and send PRs

[2021-03-10 08:36] chakravarthi-v commented on #5
hey @ghackg11 I would like to work on this issue, I'm a GSSOC participant

[2021-03-10 08:40] ghackg11 commented on #5
Sure, you have a maximum of 5 days for that, try to solve the issue in less than 3 days, which is the optimal time. I am assigning this to you and you can start working from now onwards.

[2021-03-10 10:32] STARLORD3 commented on #3
@ghackg11 can I work  on this issue

[2021-03-10 10:39] STARLORD3 commented on #5
@ghackg11 can I work on this?

[2021-03-10 10:39] STARLORD3 commented on #4
@ghackg11 can I work on this issue?

[2021-03-10 10:41] Samdid commented on #3
Okay

[2021-03-10 11:09] chakravarthi-v commented on #5
okay sure :)

[2021-03-10 11:29] akanksha470 commented on #5
@ghackg11 can I try working on this issue?
I'm a GSSOC participant

[2021-03-10 11:30] ghackg11 commented on #5
Yes you can:)

[2021-03-10 11:32] ghackg11 commented on #3
Yes you can

[2021-03-10 11:33] STARLORD3 commented on #5
@ghackg11 I am also a GSSOC participant

[2021-03-10 11:34] ghackg11 commented on #5
I have just assigned you another issue, first you can work on that

[2021-03-10 11:37] STARLORD3 commented on #3
@ghackg11 so I have to make these five screens with some of my ideas included in this project?

[2021-03-10 11:39] ghackg11 commented on #3
Not all 5 necessary, some part is already done in the app, u just have to make modifications in the UI/UX , and the given designs are for inspiration

[2021-03-10 11:45] STARLORD3 commented on #3
ok thanks

[2021-03-10 16:02] chakravarthi-v commented on #5
Hey @ghackg11 , I have solved this issue do look into pull request #8  and let me know

[2021-03-10 16:15] STARLORD3 commented on #3
@ghackg11 will there be any login/signup page to see the homepage?

[2021-03-10 16:43] SamarpanCoder2002 opened #9 "Google Authentication Through Firebase"
I would like to add Google Authentication through Firebase. .... This issue not yet present here......If I can forward with that, Please assign me to here....I am also a **_GSSOC'21_** participant.....Thank you

[2021-03-10 17:24] vaibhavarora102 commented on #4
@STARLORD3  this issue is already assigned
you can try any other issue or could also propose any new feature or enhancement in the form issue and then start over it also

[2021-03-10 17:25] STARLORD3 commented on #3
@ghackg11 if there will be any of these things  then I want to work on this

[2021-03-10 18:29] STARLORD3 commented on #4
@vaibhavarora102 ok

[2021-03-10 22:09] Sahil-kachhap opened #11 "Create a Contribution.md file"
- Although there is a project setup instructions in the Readme file. I would like to create a seperate file having all git commands to setup the project , and about project issues and creating a PR.

- if this seems to be legitimate. Do assign me with this issue.

[2021-03-11 06:28] DARK-art108 opened #12 "Tree Image Classification using TF or Pytorch"
**Task#1**

- [ ]  Implement Tree Image Classification using Tensorflow or Pytorch [No Barrier on Framework]
- [ ]  Make use of Transfer Learning[Means use Pretrained Models like Resnet's, VGG, InceptionV3]
- [ ]  Save the model in the format of model.bin or model.h5
- [ ]  Apply different Data Augmentation techniques and resizing is important.

**Dataset** [Scrap By Yourself]

The dataset contain

[2021-03-11 07:55] SapinderSingh opened #13 "Exception coming while running the app"
![issue ](https://user-images.githubusercontent.com/29424616/110753966-3c523a00-826d-11eb-84c9-75f52cdf7224.png)

[2021-03-11 09:35] iamsamuelhere opened #14 "Facebook Authentication using Firebase"
- I would like to work on adding Facebook Authentication
- I am also an participant at **GSSOC 21**

[2021-03-11 16:38] Aditi0102 commented on #12
Hello, I would like to contribute to this issue under GSSOC'21. Please assign me this issue.

[2021-03-12 03:33] vaibhavarora102 commented on #9
@SamarpanCoder2002  this issue looks good to us, you can proceed to add this feature

[2021-03-12 03:54] DARK-art108 commented on #12
@Aditi0102 You can go ahead with the task, raise PR, and then I will take a look at it.

[2021-03-12 07:02] SamarpanCoder2002 commented on #9
For add this feature, I need to access firebase account related to that project....... If you have already a firebase account, kindly make me collaborator in that firebase account(my gmail:   samarpanofficial2021@gmail.com ).......If you have no firebase account, then I can proceed with making new firebase account....Waiting for your response.....Thank you @vaibhavarora102

[2021-03-12 08:44] Trisanu-007 opened #15 "Documentation update"
The documentation should be updated with pictures of pages the existing app to show the progress done even before the app is run.

[2021-03-12 11:05] Aditi0102 commented on #12
Thank you :)

[2021-03-12 13:31] rohank2502 opened #16 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:32] rohank2502 opened #17 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:43] Trisanu-007 commented on #15
Should I work on this ?

[2021-03-13 05:20] pranavi79 commented on #3
can i be assigned to this issue too?

[2021-03-13 07:22] ghackg11 commented on #3
we are planning to have a login signup page, you will soon have designs for that, so you can start working on that asap, till then, you can work on other pages:)

[2021-03-13 07:59] ghackg11 commented on #16
are you talking about adding logos of the tech stack used in the readme.md file?

[2021-03-13 08:07] ghackg11 commented on #13
I just cloned the app in my system and Run it, it is working fine with no exceptions. You can dm me on discord @ghackg11#4996 for discussion.

[2021-03-13 08:47] rohan-kulkarni-25 commented on #16
Yes

On Sat, Mar 13, 2021, 1:29 PM Gautam ***@***.***> wrote:

[2021-03-13 08:48] #13 closed

[2021-03-13 09:14] STARLORD3 commented on #3
@ghackg11 can you please check the PR?

[2021-03-13 12:59] ghackg11 commented on #9
@SamarpanCoder2002 hey, we actually don't need Google authentication in our app. We are planning to have a specific login signup which will have different type of users and we will update about it soon.So you can close this issue for now.

[2021-03-13 13:03] ghackg11 commented on #14
Hey @iamsamuelhere , sorry we don't need  Facebook authentication in our app, we are planning to have a specific  kind of login signup. You will be updated about it soon, you can close the issue for now.

[2021-03-13 13:04] ghackg11 commented on #16
@rohank2502 okay, I am assigning this issue to you, all the best!

[2021-03-13 13:08] SamarpanCoder2002 commented on #9
Ok as your wish @ghackg11 .... So, Can I introduce Email and password authentication with raise a new issue or not? Please let me know @ghackg11 @vaibhavarora102

[2021-03-13 13:13] ghackg11 commented on #9
Yes you can do that, that would be a necessary one for any kind of authentication process.

[2021-03-13 13:16] SamarpanCoder2002 commented on #9
Ok....I close that issue and raise an new issue about email and password verification...Hope you assign me @ghackg11

[2021-03-13 13:16] ghackg11 commented on #9
@SamarpanCoder2002 sure:)

[2021-03-13 13:17] #9 closed

[2021-03-13 13:21] SamarpanCoder2002 opened #19 "Email and Password Authentication with Registered Email Verification"
Hello, I want to add Email and Password Authentication with registered email verification through firebase with this app....

I have experience in that.... So I can do it perfectly.... Kindly assign me here, If I can proceed with that.....

I am also a gssoc'21 participant.... Please raise the required label for that program in that issue....

Please let me know If I can forward with that feature.

[2021-03-13 13:22] SamarpanCoder2002 commented on #9
hello @ghackg11, @vaibhavarora102 , I  already added email and password issue with issue(#19 )...Please Take a look here...

[2021-03-13 13:27] ghackg11 commented on #19
@SamarpanCoder2002 you can start working on the issue, all the best

[2021-03-13 13:29] SamarpanCoder2002 commented on #19
Thanks for assign me @ghackg11 ..... I will add the feature soon..... kindly add firebase account with my mail: samarpanofficial2021@gmail.com .... So that I can do email and password authentication with firebase...

If you want, I store user info in cloud firestore, Please give me the access of cloud firestore with firebase account......

[2021-03-13 13:32] ghackg11 commented on #19
@SamarpanCoder2002 Done.

[2021-03-13 13:33] SamarpanCoder2002 commented on #19
Thanks a lot @ghackg11 .... I will add this feature very soon.....

[2021-03-13 13:35] ghackg11 commented on #19
@SamarpanCoder2002 all the best:)

[2021-03-13 14:20] rohan-kulkarni-25 commented on #16
Will you please tell name of tech you will like to add !!

[2021-03-13 15:56] #14 closed

[2021-03-13 17:46] #17 closed

[2021-03-13 19:36] ghackg11 commented on #11
@Sahil-kachhap yes you can work on that, I am assigning this issue to you, happy coding and all the best:)

[2021-03-13 21:31] STARLORD3 opened #20 "SIGNIN PAGE"
@ghackg11 can I work on creating a sign-in page?

[2021-03-13 21:32] STARLORD3 opened #21 "Sign-Up Page"
@ghackg11 I can also work on creating a signup page?

[2021-03-14 06:34] ghackg11 commented on #20
@STARLORD3 I am glad you want to work on it, but there is already an issue opened related to this, i.e. issue #19, so you can close these issues. Happy Coding :)

[2021-03-14 06:37] ghackg11 commented on #15
@Trisanu-007 app designs are being updated by different contributors, I don't think it's right to add them now. You can give any other suggestions if you have. Happy Coding:)

[2021-03-14 08:02] Ruhika1417 commented on #21
hi @STARLORD3  can i work on this?

[2021-03-14 08:02] Ruhika1417 commented on #21
hi @STARLORD3 can i work on this if its under gssoc'21 ?

[2021-03-14 08:05] ghackg11 commented on #21
@STARLORD3 @Ruhika1417  The login and signup are already being worked upon, you can have a look at other issues or you can create your own. Happy Coding:)

[2021-03-14 08:05] #21 closed

[2021-03-14 08:06] #20 closed

[2021-03-14 08:27] Ruhika1417 commented on #21
@STARLORD okay thank!!

[2021-03-14 12:57] STARLORD3 commented on #19
@SamarpanCoder2002 can i work on the frontend part of this issue?

[2021-03-14 13:13] SamarpanCoder2002 commented on #19
Actually my frontend part work already complete..... After my pull request merged, If You want you can redesign the UI of that with raise a new issue......But not now....because, my design almost complete...

[2021-03-14 13:15] SamarpanCoder2002 commented on #19
Actually my frontend part already complete...after my pull request merged, If you want you can redesign UI of that

[2021-03-14 16:57] ghackg11 commented on #5
@chakravarthi-v  You did a great job! We have solved this issue successfully so I am closing it now. All the best everyone for future contributions:)

[2021-03-14 16:57] #5 closed

[2021-03-14 19:57] SamarpanCoder2002 opened #24 "Profile Picture in Home Page"
Hello, I want to add profile picture on the home page of this app...

<img src="https://user-images.githubusercontent.com/66327336/111082324-a862c580-852d-11eb-92fd-682d469b8f2c.png" width="200">

If I can forward with that, please assign me to here..... I am also a gssoc'21 participant.......Waiting for your response... @ghackg11

[2021-03-15 05:20] SamarpanCoder2002 commented on #19
Hello @ghackg11 , I already make a pull request regarding to that.....Please check it out

[2021-03-15 07:06] ghackg11 commented on #19
This issue is solved now by @SamarpanCoder2002, thank you for your contribution. I will make a new issue related to the frontend, thank you guys.

[2021-03-15 07:08] ghackg11 commented on #24
@SamarpanCoder2002, yes you can work on that, I am assigning this issue to you.

[2021-03-15 07:12] SamarpanCoder2002 commented on #24
Thanks a lot @ghackg11 .... I will make a pull request related to that soon

[2021-03-15 11:13] Aryamanz29 opened #26 "[Need] Issue and PR template"
Currently, we haven't any issue and PR template for this repo

[2021-03-15 11:13] Aryamanz29 commented on #26
Please add a label to this issue

[2021-03-15 11:14] Aryamanz29 commented on #26
I would like to work on this issue, Kindly assign to me

[2021-03-15 15:34] ghackg11 commented on #26
@Aryamanz29 Good to see you here! You can work on this issue, I am assigning this to you

[2021-03-15 15:34] #15 closed

[2021-03-15 15:37] #16 closed

[2021-03-16 09:16] #11 closed

[2021-03-16 17:10] STARLORD3 opened #29 "Redesigning of login page"
@ghackg11 can I redesign the login page?
the base of redesigning will be this page :-
https://drive.google.com/file/d/1a4k5LsAhpGXPblBqJcjSth_BYQe0V2JA/view?usp=sharing

[2021-03-16 17:11] ghackg11 commented on #29
@STARLORD3 the design is nice, but can you make the color theme green? Just like the present app. It should have a consistent theme right?

[2021-03-16 17:14] STARLORD3 commented on #29
@ghackg11 for sure as it is just a base

[2021-03-16 17:14] STARLORD3 commented on #29
@ghackg11 we can add delete or do anything with it

[2021-03-16 17:15] ghackg11 commented on #29
Okay, you can start working on this, I am assigning this to you and adding labels to it. All the best:)

[2021-03-16 17:15] STARLORD3 commented on #29
Ok thanks

[2021-03-16 17:16] STARLORD3 commented on #29
can I also make an issue for the signup page?

[2021-03-16 17:19] STARLORD3 commented on #29
@ghackg11

[2021-03-16 17:21] ghackg11 commented on #29
Yes,@STARLORD3

[2021-03-16 17:23] STARLORD3 commented on #29
OK

[2021-03-16 17:25] STARLORD3 opened #30 "Redesigning of signup screen"
@ghackg11 I will be redesigning the signup screen
The theme on which signup screen will be based is:-
https://drive.google.com/file/d/1a4k5LsAhpGXPblBqJcjSth_BYQe0V2JA/view?usp=sharing

[2021-03-16 19:05] #26 closed

[2021-03-17 10:40] Aryamanz29 opened #31 "[Need] Workflow for GSSOC21 issue label"
### **Feature request**:
I want to add workflow which automatically adds `GSSOC21` label to new issues if they have  labels-synonyms: `'{"GSSOC21":["GSSOC","GSSOC21","gssoc","Gssoc","GSSoC"]}'`  in their `issue body`

![Screenshot from 2021-03-17 15-52-45](https://user-images.githubusercontent.com/56113566/111453959-209dd680-873a-11eb-93ca-37161f201192.png)

### **Is your feature request related t

[2021-03-17 17:43] STARLORD3 commented on #29
![image](https://user-images.githubusercontent.com/44573625/111512904-3e892c80-8776-11eb-8ebc-e0e5f2ae707b.png)
@ghackg11 is the login page looking fine?

[2021-03-17 17:45] ghackg11 commented on #29
Yeah that's great 👍

[2021-03-17 17:55] STARLORD3 commented on #29
@ghackg11 please check the PR

[2021-03-17 17:55] STARLORD3 commented on #30
@ghackg11 please assign this to me and also please add the necessary tag to it

[2021-03-17 18:52] #29 closed

[2021-03-17 18:53] ghackg11 commented on #30
okay @STARLORD3, assigning this issue to you. All the best:)

[2021-03-17 18:55] ghackg11 commented on #31
@Aryamanz29, yes you can work on it. All the best:)

[2021-03-18 08:02] SamarpanCoder2002 commented on #24
I already make a pull request regarding to that..... Hope you review and merge it soon @ghackg11 ...... If there any problem, you can freely tell me.. Thanks @ghackg11

[2021-03-18 12:07] Aryamanz29 commented on #31
Kindly  review my PR @ghackg11

[2021-03-18 17:16] #31 closed

[2021-03-19 08:35] ghackg11 commented on #19
@SamarpanCoder2002 The signup is not working suddenly, can you please recheck it. My whole checking work is on pause due to that. It's a request that you look for it asap.

![WhatsApp Image 2021-03-19 at 2 02 55 PM](https://user-images.githubusercontent.com/56071613/111752829-2cb1a180-88bc-11eb-8388-6bb72a4bb353.jpeg)

[2021-03-19 08:45] ghackg11 commented on #19
hey @SamarpanCoder2002, The signup functionality stopped working, can you please have a look at it. It's very urgent. The whole work is at pause due to that.
![WhatsApp Image 2021-03-19 at 2 02 55 PM](https://user-images.githubusercontent.com/56071613/111753986-7c449d00-88bd-11eb-81d5-c96e83ea5f74.jpeg)

[2021-03-19 08:46] SamarpanCoder2002 commented on #19
Yah sure... I try to solve it

[2021-03-19 08:48] ghackg11 commented on #19
Thank you:)

[2021-03-19 09:01] #24 closed

[2021-03-19 09:22] SamarpanCoder2002 commented on #19
I already make a pull request..please read the pull request description and try it...Thanks @ghackg11

[2021-03-19 09:51] #19 closed

[2021-03-19 10:03] Aryamanz29 opened #36 "[Ignore this issue] Testing workflow of auto label"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [ ] I checked to make sure that this issue has not already been filed.

- [ ] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**
gssoc
# Expected Behavior:

Please describe the behavior you are expecting.

#

[2021-03-19 10:05] Aryamanz29 commented on #36
Working Fine ! 😀 Closing this issue now

[2021-03-19 10:05] #36 closed

[2021-03-19 13:35] STARLORD3 commented on #30
@ghackg11 please check the PR

[2021-03-20 02:01] Shubhrima opened #39 "Add App Icon"
### **Feature request**:
Add a new App Logo for the App.

### **Is your feature request related to a problem? Please describe. (optional)**:
The app uses the default Flutter Logo as its app Icon.

### **Describe the solution you'd like**:
I wish to change the Logo of the App from the default Flutter logo to a different image.

### **Describe how this feature will be useful to our readers**:
An eff

[2021-03-20 05:40] Manzee1609 commented on #4
![image](https://user-images.githubusercontent.com/64956077/111860246-5c1fe700-896c-11eb-95e5-c106b1740b49.png)
I have implemented automatically taking current location of user as location as location of tree using geolocator.
Now to furthur show location on a map and allow user to change location, I need a google maps API key, on my account, project limit is reached so if possible can you provide

[2021-03-20 05:56] vaibhavarora102 commented on #4
@Manzee1609  it really looks nice, apologies from our side we are not able to arrange an API key, but yes @ghackg11  had found an alternative for this, will tell you in a while. Hope you understand

[2021-03-20 05:59] ghackg11 commented on #4
@Manzee1609 this looks great. I am sorry that we could not arrange an api key, but there is an alternative. You can use map box api for the same.

[2021-03-20 06:02] Manzee1609 commented on #4
okk!!

[2021-03-21 04:04] ghackg11 commented on #39
@Shubhrima Would you design a logo for the app?

[2021-03-21 04:14] Shubhrima commented on #39
Yes.

[2021-03-21 05:29] Manzee1609 commented on #4
Moving on, I have integrated map with the application, so currently the map shows a marker at current location of user, but the marker is not moveable. I have tried to search about this, but I could not find any way to move the marker. If you find any such implementation, pls help!
![image](https://user-images.githubusercontent.com/64956077/111894880-85a44580-8a34-11eb-9422-1385f88ae8c3.png)

[2021-03-21 05:54] ghackg11 commented on #39
Okay @Shubhrima, U can continue with your work. I am assigning the issue to you.

[2021-03-21 06:57] ghackg11 commented on #4
@Manzee1609, Sorry, even I didn't found any resources related to that. If you are unable to do that part, leave it and we will use automatic location in the text field only.

[2021-03-21 06:57] ghackg11 commented on #30
I have reviewed and merged the PR. Thanks for your contribution, @STARLORD3

[2021-03-21 06:57] #30 closed

[2021-03-21 07:02] ghackg11 opened #40 "Changing the design of the scanned tree list"
### **Feature request**:
Make the design of the tree scanning pages like the design in the picture below.

### **Describe how this feature will be useful to our readers**:
This will enhance the UI.

![WhatsApp Image 2021-03-21 at 12 29 34 PM](https://user-images.githubusercontent.com/56071613/111896705-77a8f180-8a41-11eb-91dc-3d4afdf094ee.jpeg)

<hr/>

**Note:**
* If you want to work on an issue,

[2021-03-21 07:06] ghackg11 opened #41 "Designing the tree info page"
### **Feature request**:
Make the design of the Tree Info page and the wireframe for inspiration is given below.

### **Additional context:**
![WhatsApp Image 2021-03-21 at 12 29 34 PM (1)](https://user-images.githubusercontent.com/56071613/111896811-19c8d980-8a42-11eb-8e13-2e752bf8922e.jpeg)

<hr/>

**Note:**
* If you want to work on an issue, you should check if it has already been assigned to a

[2021-03-21 07:34] Manzee1609 commented on #4
Ok so I will give it one more try if I find something.
 So now shall I create a pr for the automatic location code?

On Sun, 21 Mar 2021, 12:27 pm Gautam, ***@***.***> wrote:

[2021-03-21 07:37] ghackg11 commented on #4
@Manzee1609, yes you can!

[2021-03-21 11:31] STARLORD3 commented on #41
@ghackg11 i can work on this issuue

[2021-03-21 11:32] ghackg11 commented on #41
@STARLORD3 , yes you can:) all the best

[2021-03-21 12:07] STARLORD3 commented on #4
@Manzee1609 what widget are you using to create the marker?

[2021-03-21 12:17] Manzee1609 commented on #4
A container and image as its child

On Sun, 21 Mar 2021, 5:37 pm STARLORD3, ***@***.***> wrote:

[2021-03-21 13:00] STARLORD3 commented on #4
@Manzee1609 instead of this you can use the Marker widget and it might solve your issue.

[2021-03-21 13:20] Manzee1609 commented on #4
Actually inside the marker widget only I have a container and the image.
 When I searched online it gives me a solution that draggable property
under marker widget which should be set true.
Idk why, but in my widget it is showing error that  draggable doesn't exist.

On Sun, 21 Mar 2021, 6:30 pm STARLORD3, ***@***.***> wrote:

[2021-03-21 16:31] STARLORD3 commented on #4
@Manzee1609 have you attached the map code to the PR of this so that i can look into it

[2021-03-21 17:52] Manzee1609 commented on #4
As it was not fully functional, I didn't attach

On Sun, 21 Mar 2021, 10:01 pm STARLORD3, ***@***.***> wrote:

[2021-03-22 04:41] ghackg11 commented on #4
Yes, it's because, draggable property is in Marker widget of Google maps package, not in mapbox's Marker widget

[2021-03-22 05:20] Manzee1609 commented on #4
Yeah! So any other alternative?

On Mon, 22 Mar 2021, 10:11 am Gautam, ***@***.***> wrote:

[2021-03-22 05:39] ghackg11 commented on #4
Nope! I didn't got any other alternative:(

[2021-03-22 07:10] Shubhrima commented on #39
![image](https://user-images.githubusercontent.com/68013183/111952787-a8555d80-8b0b-11eb-89e7-3996d2e1dd95.png)

Does this look okay? Else what changes shall I do?

[2021-03-22 07:19] ghackg11 commented on #39
@Shubhrima, I think we are not syncing in our views regarding the logo design. We want a modern designed logo. You can take reference from the image I am attaching below.

https://www.seekpng.com/png/detail/19-190761_simple-location-map-pin-icon-location-pin-green.png.

Try to make something like this.

[2021-03-22 11:16] STARLORD3 commented on #4
@ghackg11 @Manzee1609 are we using the map to get the location for the field of entering the latitude and longitude?

[2021-03-22 11:17] ghackg11 commented on #4
@STARLORD3 yes

[2021-03-22 11:21] STARLORD3 commented on #4
@ghackg11 ok I will look into it once i will do my assigned work

[2021-03-22 11:57] Manzee1609 commented on #4
No we are just using geolocator plugin, it doesn't require map

On Mon, 22 Mar 2021, 4:46 pm STARLORD3, ***@***.***> wrote:

[2021-03-22 14:09] Priya-81199 commented on #40
I would like to work on this. GSSOC Participant.

[2021-03-22 14:12] ghackg11 commented on #40
@Priya-81199 , Yes you can work on it, I am assigning the issue to you. All the best:)

[2021-03-22 14:13] Priya-81199 commented on #40
Thank you so much! :)

[2021-03-22 14:22] STARLORD3 commented on #4
@Manzee1609 so for what purpose you were using the map?

[2021-03-22 16:06] Manzee1609 commented on #4
So the actual feature that I wanted to implement was like, initially the
location field will be filled with user's current location, but there will
be a button to change location.
On clicking change location, it would open map in a new page with a marker
at current location and the user can move marker to any other desired
location and on clicking submit, the location field will be updated with
th

[2021-03-22 17:54] Shubhrima commented on #39
![image](https://user-images.githubusercontent.com/68013183/112035547-a9b37400-8b65-11eb-94dd-f4b8191c3146.png)

[2021-03-23 03:14] ghackg11 commented on #39
@Shubhrima, This one looks good, just remove the black borders from the green area.

[2021-03-23 06:54] Priya-81199 opened #45 "The login functionality is not working properly."
### **Describe the bug:**
Whenever I try to login with the credentials, it doesn't navigate to the home screen and is stuck on the same page, after the hot reload it does navigate to the home screen as the login details are saved.

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to 'login page' and enter the credentials
2. Click on the 'login' button
3. See the error

### **Expected b

[2021-03-23 08:20] Aditi0102 commented on #12
Hello @DARK-art108, I've been working on this problem and have finished training my model, but at the time of upload, Git is unable to push a .h5 file to a remote repository. I've been trying it for a few days now and I've discovered that it's because of the large file size. And let me know what you think I should do.
Thank you so much

[2021-03-23 08:52] DARK-art108 commented on #12
@Aditi0102 zip the file drop in the Google drive with public access, and the model code file will be pushed to the repo, make sure you create a global folder and keep everything inside it and then push

[2021-03-23 11:42] ghackg11 commented on #45
I have resolved it @Priya-81199 , please revert back after checking. There were no code changes required.

[2021-03-23 11:46] #39 closed

[2021-03-23 11:47] ghackg11 commented on #39
Your PR is merged. Thank you for your contribution @Shubhrima .

[2021-03-23 13:29] Priya-81199 commented on #45
Yes @ghackg11, I have checked it and now its working. Im closing this issue.

[2021-03-23 13:29] #45 closed

[2021-03-23 13:30] ghackg11 commented on #45
Thanks for raising the issue:)

[2021-03-23 13:39] Aditi0102 commented on #12
Hello @DARK-art108, I have sent a pull request regarding this issue, kindly review it.
Thank You

[2021-03-24 10:18] STARLORD3 commented on #41
@ghackg11 is the database working?

[2021-03-24 10:19] STARLORD3 commented on #41
sql one

[2021-03-24 10:21] ghackg11 commented on #41
@STARLORD3 , yes it is working

[2021-03-24 10:21] ghackg11 commented on #41
@STARLORD3 uninstall the app from your device and recheck.

[2021-03-24 10:31] STARLORD3 commented on #41
@ghackg11 can you please send the screenshot of the page after clicking the scan QR code of a tree button on the home screen.

[2021-03-24 10:32] STARLORD3 commented on #41
@ghackg11 because on my screen it is only showing open scanner and nothing else

[2021-03-24 10:32] ghackg11 commented on #41
![Screenshot_20210324-155157.jpg](https://user-images.githubusercontent.com/56071613/112295895-5e5eaa00-8cba-11eb-8790-84451a6f44c3.jpg)

[2021-03-24 10:32] STARLORD3 commented on #41
@ghackg11 i have also added details of a  new tree and saved the qr code

[2021-03-24 10:33] ghackg11 commented on #41
Scanned 3 trees in my app

[2021-03-24 10:35] STARLORD3 commented on #41
@ghackg11 ok i will now try to figure it out

[2021-03-24 10:36] STARLORD3 commented on #41
@ghackg11 thanks for the screenshot

[2021-03-24 11:33] STARLORD3 commented on #41
@ghackg11 if i recall correctly API key is not yet generated?

[2021-03-24 11:33] ghackg11 commented on #41
Google map api key?

[2021-03-24 11:41] STARLORD3 commented on #41
yes @ghackg11

[2021-03-24 14:17] STARLORD3 commented on #41
@ghackg11 so what should i do for the map part of this design

[2021-03-24 14:18] ghackg11 commented on #41
@STARLORD3 use mapbox api, you can have static pins there

[2021-03-25 13:01] STARLORD3 commented on #41
@ghackg11 can you please provide the required credential i.e. token

[2021-03-25 13:05] ghackg11 commented on #41
@STARLORD3 use mapbox api, that is free of cost, you can get credentials there.

[2021-03-25 13:08] STARLORD3 commented on #41
Do I have to use the access token of my account

[2021-03-25 13:10] ghackg11 commented on #41
@STARLORD3 , yes, any problem regarding that?

[2021-03-25 18:26] STARLORD3 commented on #41
@ghackg11 is it right?
<img src = "https://user-images.githubusercontent.com/44573625/112524306-ae766300-8dc5-11eb-9af1-7b5c1422c796.png" height = 250, width = 120>

[2021-03-25 18:29] ghackg11 commented on #41
@STARLORD3 , yes it's good. Every component is fine. Can you make the design look a bit good?

[2021-03-25 19:57] STARLORD3 commented on #41
@STARLORD3 okay i can see into this

[2021-03-26 08:54] ghackg11 commented on #40
@Priya-81199, It's been 4 days and I have no updates from your side. This issue shouldn't have taken so long.

[2021-03-26 08:56] #3 closed

[2021-03-26 09:09] abstrxtInfinity opened #47 "Enhance the UI experience for the user"
Hi, I am GSSOC'21 participant. I looked into your project and liked the idea, but the UI for the app is lacking.
I would like to enhance it by styling everything a little bit more.
If you like the idea of enhancement please assign me this issue.

[2021-03-26 09:52] abstrxtInfinity opened #48 "App Icon"
I have made a simple icon related to the application and would like to show it to you and if liked would like to implement the same in the application.

![tree-logo-design-template-abf440b5d98054b8bba87fba2205f19a_screen-removebg-preview](https://user-images.githubusercontent.com/55052738/112614375-33559100-8e47-11eb-9fd6-02a73c3ca0af.png)
![Copy of Tree Logo - Made with PosterMyWall](https://user

[2021-03-27 07:44] vaibhavarora102 opened #49 "General queries could be asked in this"
All can discuss any problem related to this project in this space

[2021-03-29 17:14] aditi1403 opened #52 "Update README.md file"
I have made some grammatical edits to the README.md file. Kindly refer to PR #51.

[2021-03-30 18:50] DOOMSTERR opened #53 "Styling and Modifying the Readme.md file"
## Request ✨
Hello sir, I want to modify the readme.md file.

## Detailed Description
I simply want to modify the heading by adding emojis to some headings and adding batches at the top-center to make it look more creative and beautiful:

I'll be adding 4 batches
-> issues-open
-> pull_request-open
-> total no. of forks
-> total no. of stars

@ghackg11 @vilsi12 @Sameerkash, please allow me to do s

[2021-03-31 17:34] ghackg11 commented on #48
@abstrxtInfinity, Great efforts. It would be great if you add something related to tagging or QR code also in the app.

[2021-04-02 04:15] ghackg11 commented on #53
@DOOMSTERR, please resend the PR, we had to revert it due to some issue in the previous PR merged.

[2021-04-02 06:58] DOOMSTERR commented on #53
ok

[2021-04-03 08:22] STARLORD3 commented on #41
@ghackg11 due to some problem i can not do the work for 15 days. Thus you can assign it to somebody else or u can close it.

[2021-04-03 08:29] ghackg11 commented on #41
@STARLORD3 ,did you send the pr of the work you have done yet?

[2021-04-03 08:32] STARLORD3 commented on #41
@ghackg11 sorry I forgot that i have not created a PR

[2021-04-03 08:33] STARLORD3 commented on #41
@ghackg11 either you can wait or assign it to somebody else.

[2021-04-03 08:33] ghackg11 commented on #41
@STARLORD3 ,If you can, you can create a pr for your work, so that your effort doesn't get wasted.

[2021-04-03 08:48] STARLORD3 commented on #41
@ghackg11 it will be not poasible for me.

[2021-04-03 08:49] ghackg11 commented on #41
@STARLORD3 , it's okay. I hope everything is fine.

[2021-04-03 10:35] #53 closed

[2021-04-03 10:37] #52 closed

[2021-04-03 10:38] #4 closed

[2021-04-07 03:27] anotherwebguy commented on #41
Can i work on this issue under gssoc .plz assign me this issue @ghackg11 .

[2021-04-07 04:36] anotherwebguy opened #62 "Renderflex issue in the signup screen"
### **Describe the bug:**
The signup screen is not compatible with small screen sizes

### **To Reproduce:**
i will add padding at the bottom of the screen and make compatible with every screen size. Plz let me work on this issue

### **Screenshots:**
![image](https://user-images.githubusercontent.com/66346161/113810895-d46a1300-9788-11eb-8ed7-991175a8e83e.png)

<hr/>
 plz let me work on this issu

[2021-04-07 05:06] anotherwebguy opened #63 "BarcodeScanner throws error and results in the app being haulted in black screen"
### **Describe the bug:**
The barcode scanner throws error when if suppose the user decides to not scan and presses back button or when the cameraaccess is denied by the app user. This results the app to hault with a black screen and the app doesn't works.

### **To Reproduce:**
Steps to reproduce the behavior:
we can put the barcode scanning part in an try and catch block that will handle errors

[2021-04-07 05:52] anotherwebguy commented on #63
can i work on this @ghackg11 ?

[2021-04-07 08:02] #63 closed

[2021-04-07 08:28] anotherwebguy opened #66 "Adding google signin"
### **Feature request**:
Till now the app doesn't have a google signin feature. I would like to work on this feature

### **Describe the solution you'd like**:
I would like to connect the app with google authentication so that the user can login also through google accounts.

### **Describe how this feature will be useful to our readers**:
This signiin feature will be useful since it will save tim

[2021-04-07 09:24] anotherwebguy commented on #41
Hello @ghackg11 @vaibhavarora102 for this issue will u be giving me the api key needed for showing map with tree location on this app or should i generate my own api key and work on this issue?

[2021-04-07 09:41] anotherwebguy commented on #41
Because if i have to generate the api key then u need to add me on firebase  as we have to add this app on console.google.com and enable google maps for it.
My email id mohitrajputms123@gmail.com

[2021-04-07 12:12] anotherwebguy commented on #40
i would like to work on this issue under gssoc plz assign me this issue @ghackg11  @vaibhavarora102 @vilsi12 @DARK-art108 @Sameerkash

[2021-04-07 12:14] anotherwebguy commented on #49
i need an api key to display map in the treeinfo page @vaibhavarora102 plz provide me with the api key so i can start working on the issue #41

[2021-04-07 13:13] anotherwebguy commented on #41
![image](https://user-images.githubusercontent.com/66346161/113871824-e8396780-97d0-11eb-95bb-565121091cc1.png)

i've designed the layout of treeinfo page just remains the map view for which i will be requiring the api key
BTW have a look at the layout is it good?

[2021-04-07 14:56] vmishra9 opened #67 "Update Readme.md"
# Expected Behavior:

There are several grammatical errors in the readme file. I would like to fix it.

# Current Behavior:

Grammatical errors present.

# Solution:

Will solve all grammatical errors.

I am a GSSoc'21 participant.

[2021-04-07 14:57] vmishra9 commented on #67
@ghackg11  kindly assign this issue to me with appropriate Level label.

[2021-04-07 19:33] saidrishya commented on #12
Hi, If the issue is still open, I would like to work on it. I am a  GSSOC participant.

[2021-04-08 02:49] vaibhavarora102 commented on #49
for the time purpose, we are not having any such key, but you are free to find an alternative to use in code and then describe it in readme as well @anotherwebguy

[2021-04-08 02:54] anotherwebguy commented on #49
Plz add me on the firebase so that i can enable map sdk for this app and then it will generate the api key @vaibhavarora102
My email mohitrajputms123@gmail.com

[2021-04-08 03:16] anotherwebguy commented on #49
As u can see the steps to show map view in flutter
https://pub.dev/packages/google_maps_flutter
Will nees to enable map sdk for the app

[2021-04-08 03:16] anotherwebguy commented on #41
As u can see the steps to show map view in flutter
https://pub.dev/packages/google_maps_flutter
Will nees to enable map sdk for the app

[2021-04-08 05:41] anotherwebguy commented on #41
![image](https://user-images.githubusercontent.com/66346161/113974127-09469a80-985b-11eb-8c32-63d5765de35d.png)

okay so i'm done with designing this page should i now make a pr ?
@ghackg11 @vaibhavarora102 @vilsi12

[2021-04-08 05:42] vaibhavarora102 commented on #41
Yeah for sure

[2021-04-08 12:18] anotherwebguy opened #69 "Adding Code_Of_Conduct.md file"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

I feel This project must have an Code_Of_Conduct.md file

I would like to work

[2021-04-08 12:33] #62 closed

[2021-04-08 14:07] #41 closed

[2021-04-08 15:12] ghackg11 commented on #66
@anotherwebguy, yes you can work on it. All the best:)

[2021-04-08 15:15] ghackg11 commented on #69
@anotherwebguy, I see you are working on another two issues right now, you can work on this after you solve them. Its great to see hardworking people like you:)

[2021-04-08 15:17] anotherwebguy commented on #69
Okay @ghackg11  i would like to work on this issue after i complete both the assigned issue first. Thanks :) . Hope u will assign it to me later

[2021-04-08 15:23] anotherwebguy commented on #66
Plz add me on the firebase for this @ghackg11
My email
mohitrajputms123@gmail.com

[2021-04-09 06:16] anotherwebguy commented on #40
is this fine should i make a pr now? @ghackg11
![image](https://user-images.githubusercontent.com/66346161/114136896-0a45fd80-9929-11eb-8787-ca658793cb4e.png)

[2021-04-09 11:26] SamarpanCoder2002 opened #71 "Add Loading Screen At the Background Process of Signup or Log-In"
### **Feature request**:
You must see, still now, if user sign-up or log-in, then navigation to the main screen takes a lot time beacause some BG tasks going on...For that in Physical device, that is not tollerable for other users...I think I can Add loader when the background tasks going on...

### **Is your feature request related to a problem? Please describe. (optional)**:
Yes...
Described Abo

[2021-04-09 11:29] SamarpanCoder2002 commented on #71
Thanks for assign me @ghackg11 ....I will made a pull request soon

[2021-04-09 16:22] SamarpanCoder2002 commented on #71
@ghackg11 I already made a pull request ... please read the pull request as I mentioned some `Important` points

Hope you review it and merge it soon

[2021-04-09 16:27] SamarpanCoder2002 opened #74 "Forget Password Feature Not Added"
### **Feature request**:
For Email and Password Auth, at Log-in, `Forget Password` Feature not added...I want to add it...

### **Is your feature request related to a problem? Please describe. (optional)**:
If user forget about password, they can reset it...

### **Describe the solution you'd like**:
When Click on `Forget Password`, a reset link will send to registed email....User Can Reset Mail f

[2021-04-09 16:42] #40 closed

[2021-04-09 16:50] #71 closed

[2021-04-09 16:52] anotherwebguy opened #75 "Adding Facebook auth"
### **Feature request**:
Adding Facebook authentication for users to signin
Also i'll take facebook profile picture to display as user image

### **Describe how this feature will be useful to our readers**:
This feature will be helpful for users how want to connect to the app through their socials

<hr/>

Plz assign me this issue @ghackg11 under gssoc as now i'am only working on one issue i.e #66

[2021-04-09 16:53] ghackg11 commented on #74
@SamarpanCoder2002, Go ahead, try to work on it. all the best.

[2021-04-09 16:55] ghackg11 commented on #75
@anotherwebguy, adding Facebook auth to this app is not really required, as this is not meant for the general public. Just do one thing, use the Google account's image only and remake the PR.

[2021-04-09 16:57] anotherwebguy commented on #75
Okay should i make another pr or continue with the same for google auth?

[2021-04-09 17:24] anotherwebguy commented on #48
Well i've narraowed down some app icons have look if you'll like any of them then we can have that as the app icon @ghackg11 @vaibhavarora102
![images (7)](https://user-images.githubusercontent.com/66346161/114217882-61c68680-9986-11eb-9f63-5a4fdea76de3.jpeg)
![images (6)](https://user-images.githubusercontent.com/66346161/114217887-62f7b380-9986-11eb-8555-bdd69d076f89.jpeg)
![pin-map-location-27-

[2021-04-09 17:27] ghackg11 commented on #48
@anotherwebguy, I liked them, especially the third one, but are these open source/ free to use?

[2021-04-09 17:31] anotherwebguy commented on #48
The third one is from iconfinder.com and i don't think anyone would have used that icon before @ghackg11

[2021-04-09 17:31] ghackg11 commented on #48
okay, I would like to discuss this with my team, before giving you any confirmation regarding this.

[2021-04-09 17:32] anotherwebguy commented on #48
Yeah sure @ghackg11

[2021-04-10 01:38] #75 closed

[2021-04-10 03:38] vaibhavarora102 commented on #48
@anotherwebguy can you pls tell the sources of all the above logos, and kindly mention how it is customised by you

[2021-04-10 03:54] anotherwebguy commented on #48
Yes @vaibhavarora102
Here they are
1)https://www.123rf.com/photo_103831987_stock-vector-tree-with-gps-icons-concept-illustration-about-travel-location-navigation-app-or-map-directions-vect.html
2)https://www.pinterest.com/pin/373587731562023213/?af_dp=pinterest%3A%2F%2F&pid=mweb&install_id=047b864c746446b6bc9e16ecbb7f11be&current_page_url=https://www.pinterest.com/amp/TMBPoole/qr-codes/&amp_client

[2021-04-10 04:31] vaibhavarora102 commented on #48
@anotherwebguy  thanks for putting efforts,
but we apologize that we cant use these logos, as it is not permitted according to Codeflow terms, I hope you understand
We can consider the logo that is wholly customized by you.
thanks

[2021-04-10 04:38] anotherwebguy commented on #48
Yeah i understand no wories altough i've never designed an app icon but i'll try to do it

[2021-04-10 15:03] SamarpanCoder2002 commented on #74
Pull request Added @ghackg11 .... Please review it and merge it soon @ghackg11

[2021-04-11 07:42] #69 closed

[2021-04-11 09:01] SamarpanCoder2002 commented on #74
Hello @Sameerkash @ghackg11 ... I made changes according to you in that pull request( #78  )... Please review it and merge it

Made changes according to you @ghackg11 @Sameerkash .... Take a look

[2021-04-11 12:36] #74 closed

[2021-04-12 05:41] Sameerkash opened #80 "Refactor code to use Provider Architecture"
### **Feature request**:

On the course the current code is headed, it can get really messy to manage state and other code.
It'd be best if architecture is implemented when the code hasn't grown too much yet.

I'd like to propose using the Provider package with ChangeNotifier as this is beginner-friendly and least complex to implement.

The Tasks of this issue would be
- Adding [provider](https://

[2021-04-12 15:30] anotherwebguy opened #81 "Refactoring profile image storing and retrieving method"
### **Feature request**:
Currently the app uses firebase storage bucket to store profile image of user and to retrieve image to display on home page.
Since this method takes two much time to load
I would like to suggest an better way to handle this

### **Is your feature request related to a problem? Please describe
The app takes too much time to load user's profile pic and also it's not the corre

[2021-04-12 15:39] anotherwebguy commented on #81
I could work on this after pr #77 is merged right? @Sameerkash
Bcoz i will be requiring to refactor all the places that uses the wrong method

[2021-04-12 15:42] sameeerkashyap commented on #81
Yes, I don't have merge access, please reach out to the maintainer on discord.

[2021-04-12 15:43] anotherwebguy commented on #81
Ok thanks @Sameerkash

[2021-04-12 15:44] #66 closed

[2021-04-12 15:45] vaibhavarora102 commented on #81
Merged👍 previous pull request

[2021-04-12 16:00] anotherwebguy commented on #81
Sir plz add the level label there and plz take the points into consideration as i've solved two issues in that pr
It should be a level 3 issue?
Thanks:) @vaibhavarora102

[2021-04-14 12:22] Sameerkash opened #83 "Add User Datamodel and Refactor file"
### **Feature request**:

Currently, User data is not managed properly. And there is not UserData Model to manage serialization and Deserialization.

- Create a User Data Model
- Move SQLite code to a central repository along with firebase methods.
- make fromJson methods factory.

[2021-04-14 13:32] anirudhsai20 opened #84 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project has been listed in.

[2021-04-14 13:32] anirudhsai20 commented on #84
Hi! Please assign this issue to me under GSSOC.

[2021-04-15 13:07] anotherwebguy commented on #48
hey @vaibhavarora102  @ghackg11  as u asked i've modified the app icon by adding some effects myself so now it's no more an copy![image](https://user-images.githubusercontent.com/66346161/114873842-57d6d480-9e19-11eb-9ca2-1ee21eb61a81.png)
##previous image

![Facebook Post 940x788 px (2) (1)](https://user-images.githubusercontent.com/66346161/114873909-691fe100-9e19-11eb-89f9-0b524e245f90.png)
##a

[2021-04-15 13:08] ghackg11 commented on #48
@anotherwebguy , it looks awesome 👌, great work!

[2021-04-15 13:12] anotherwebguy commented on #48
So sir plz assign me this issue so that i could add this as the app icon for our app

[2021-04-16 05:39] #81 closed

[2021-04-16 05:41] anotherwebguy commented on #48
Thanks for assigning me this issue i'll make a pr soon

[2021-04-16 09:16] aman339 commented on #48
I created these logo's too  for Forest tree Tagging. Have a look at these too.
![Group 8](https://user-images.githubusercontent.com/66405145/115002517-76dd7100-9ec2-11eb-8f52-ba2e8d836041.png)
![forest tree tagging4 (1)](https://user-images.githubusercontent.com/66405145/115002539-7c3abb80-9ec2-11eb-860e-47dae7a26e0d.png)

[2021-04-19 03:33] #48 closed

[2021-04-24 07:56] Mohitmadhav opened #87 "Login Screen Renderflex Issue"
### **Describe the bug:**
The bottom overflow issue is there in the Login Page

### **Screenshots:**
![Screenshot_20210424-133545](https://user-images.githubusercontent.com/59333817/115951783-45872580-a500-11eb-919c-70278d891c3f.png)

### **Additional context:**
@ghackg11 @vaibhavarora102 please assign me this issue as a GSSoC participant and add the labels to it.

<hr/>

**Note:**
* If you want t

[2021-04-24 08:24] Mohitmadhav commented on #47
Can I work on this issue with you @abstrxtInfinity ?? We can then create separate issues for separate pages as per requirement?
@vaibhavarora102 @ghackg11 please suggest?

[2021-04-24 14:00] vilsi12 commented on #84
Hi sir Can you please assign me

[2021-05-09 10:00] anirudhsai20 commented on #84
Hi! Kindly check this PR.

[2021-05-12 11:05] Mohitmadhav commented on #80
Can we use Bloc state management @Sameerkash?

[2021-05-12 11:06] Mohitmadhav commented on #87
@vaibhavarora102 please check my PR

[2021-05-14 01:39] sameeerkashyap commented on #80
@Mohitmadhav I think Bloc would make it necessarily complicated. Provider would be preferred.

[2021-05-20 08:51] Mohitmadhav commented on #83
Can we use firebase for that @Sameerkash ?

[2021-05-21 01:00] sameeerkashyap commented on #83
Firebase is what you have to use, since it is already being used

[2021-05-21 08:53] Mohitmadhav commented on #83
@Sameerkash I think this might solve it:
https://medium.com/flutterdevs/serialization-of-objects-in-flutter-62c73ce2b2a2
What do you think?

Other references:
https://flutter.dev/docs/development/data-and-backend/json
https://medium.com/flutter-community/serializing-your-object-in-flutter-ab510f0b8b47

[2021-05-21 08:54] Mohitmadhav commented on #83
@Sameerkash I didn't exactly understand the 2nd part (Moving SQLite code).
Where exactly the code needs to be moved? Can you explain a bit more?

[2021-05-23 10:07] Mohitmadhav commented on #87
@Sameerkash can you please check the PR for this issue?

[2021-05-28 17:02] swathika1 opened #89 "Creative onboarding screen for the app"
### **Feature request**:
A good design for onboarding screen with a series of 3 screens which direct users through the interface, which helps to enhance the UI of the app!

### **Additional context:**
Opening this issue as GSSOC' 21 participant.
Please assign this to me if you approve.

[2021-05-29 06:44] swathika1 commented on #89
@vaibhavarora102  @ghackg11 can you please assign this?

[2021-06-05 11:02] vilsijain commented on #87
Can I work for this issue and i am good in ui

[2021-06-05 11:47] Mohitmadhav commented on #87
@vilsi12 I already created a PR. The issue is resolved.
Thanks

[2021-06-06 08:03] #87 closed

[2021-10-05 23:10] soma2000-lang commented on #83
@Sameerkash @hkaur008  can I work on this issue??

[2021-10-06 00:30] hkaur008 commented on #83
Sure 👍

On Wed, 6 Oct, 2021, 4:40 AM Somasree Majumder, ***@***.***>
wrote:

[2021-10-06 05:10] shraddhavp commented on #84
@hkaur008 would like to work on this issue by adding contributing guidelines in the readme.md file

[2021-10-06 05:10] shraddhavp commented on #84
please assign me this issue @hkaur008

[2021-10-06 22:30] hkaur008 commented on #84
Readme File enhancements are not considered under hacktoberfest , u can pick other issues

[2021-10-06 22:31] #84 closed

[2021-10-23 15:22] Priyanshu078 commented on #80
Can I work on this issue?
I can solve this issue using provider

[2021-10-23 15:23] Priyanshu078 commented on #80
@Sameerkash

[2022-04-07 11:31] Runner-Shane commented on #80
Hi, is there anyone working on this issue? if not then can I work on this.

[2022-10-01 02:08] rajat-ventura commented on #83
Hi can i work on this issue?